.card {
  padding: 0px 0px 5px 0px;
  margin: 0px 0px 10px 0px;
}

.months-filter {
  color: white;
  padding: 0 0 5rem;
  margin: 2rem 0 2rem 0;
}

.months-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 2rem 0 ;
}

.months-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.months-filter select {
  font: inherit;
  padding: 2rem 3rem 2rem;
  font-weight: bold;
  border-radius: 6px;
}